::-webkit-scrollbar {
height: 3px;
width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
background: var(--BG-Color);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--lighter-Blue);
width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--light-Blue);
}

:root{
    --BG-Color: rgb(26,20,32);
    --BG1-Color: rgb(31,30,48);
    --BG2-Color: rgb(31, 33, 65);
    --BG3-Color: rgb(55, 31, 65);
    --BG-Gradient: linear-gradient(to top, var(--BG1-Color),var(--BG2-Color));
    --BG2-Gradient: linear-gradient(20deg, var(--BG1-Color),var(--BG3-Color));
    --light-Blue: rgb(157, 208,207);
    --lighter-Blue: rgb(197,255,253); 
    --Highlight: rgb(255, 58, 166);
    --Txt-Highlight: rgb(1, 22, 22);
  

    --header-Padding: 30px;
    --Font: 'arial';
}

body{
    margin: 0;  


    background-image: var(--BG2-Gradient);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
header{
    z-index: 1;
    display: flex;
    justify-content: space-between;

    background-image: var(--BG-Gradient);
    color: var(--light-Blue);

    border-bottom: 2px solid;
    border-color: var(--light-Blue);

    position: sticky;
    top: 0;
}

header h1{
    padding-left: var(--header-Padding);
    font-family: var(--Font);
}

nav ul{
    position: relative;
    list-style-type: none;

    margin-top: 11%;
    
    
}

nav ul li{
    display: inline-block;
    justify-content:space-evenly;
    border-right: 5px;
    border-color: black;
    font-size: 20px;
    padding-right: var(--header-Padding);
}

.gui{
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
    margin-bottom: 50px;
}

.box{    
    width: 30%;
    height: 300px;

    background-image: var(--BG-Gradient);
    border-style: solid;
    border: 10px;
    border-color: var(--light-Blue);
    outline: 10px;
}
.instruction{
    position: absolute;

    right: 10%;
    width: 300px;

    font-family: Arial, Helvetica, sans-serif;
}
.instruction summary{
    color: var(--lighter-Blue);
}
.instruction p{
    color: var(--light-Blue);
}

.boxInteract{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;


    align-items: center;


    width: 35%;
    height: 150px;

    background-image: var(--BG-Gradient);
    border-style: solid;
    border-color: var(--light-Blue);
}
.boxInteract h1{
    color: var(--light-Blue);
    font-family: Arial, Helvetica, sans-serif;
}
.buttons{
    display: flex;
    
    overflow-x: scroll;
    margin-right: 5%;
}
.buttons button{
    height: 30px;
    
    font-size: 20px;
    background-color: var(--lighter-Blue);
    color: var(--Txt-Highlight);
    border-radius: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

    padding-right: 30px;
    padding-left: 30px;

    margin-right: 5px;
    margin-left: 5px;

    cursor: pointer;
}